@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --primaryColor: #F0FFFF;
    --secondColor: #DCDCDC;
    --thirdcolor:#00020D;
    --fourthColor:#bec2c3;
    --fifthColor:#1a2930;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.conteiner{
    width: 90%;
    margin: 0 auto;
}

/* header */

.header{
    /* display: flex; */
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(../Img/Fondo.jpg);
    height: 400px;
    background-position: center bottom;
    background-size: cover;
    /* background-attachment: fixed; */
    margin-bottom: 100px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;
}

.logo{
    color:var(--primaryColor);
    font-size: 30px;
    font-weight: 800;
    padding-left: 20px;
}

.navbar ul li{
    display: inline-block;
    margin-right: 20px;

}

.navbar ul li a{
    color: var(--primaryColor);
    font-weight: 400;
}

.navbar ul li a:hover{
    color: var(--fourthColor);
}


.header__text{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.header__text h2{
    color: var(--primaryColor);
    margin-bottom: 30pxdddd;
}

.header__text p{
    text-align: justify;
    color: var(--secondColor);
    margin-bottom: 30px;
}



.btn__1{
    display: inline-block;
    color: var(--thirdcolor);
    background-color: var(--primaryColor);
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 20px;
    transition-property: border-radius;
    transition-duration: 1000ms;
}

.btn__1:hover{
    background-color: var(--fourthColor);
    border-radius: 0;
}

/* section offers_specials */

.offers__content{
    text-align: center;
    margin-bottom: 100px;
}

.offers__text h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.offers__text p{
    text-align: justify;
    font-size: 16px;
    color: var(--thirdcolor);
}

/* main products */

.products{
    margin-bottom: 100px;
}
.products h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.products__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.products__group{
    background-color: #F0F8FF;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

.products__img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.price{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.price p{
    color: var(--fifthColor);
}

.price a{
    background-color:var(--fifthColor);
    padding: 5px;
    border-radius: 10px;
    color:var(--primaryColor);
}

.price a:hover{
    background-color: transparent;
    border: 1px solid var(--fifthColor);
    color: var(--fifthColor);
    font-weight: 400;
}

/* section exclusive__products */

.exclusive__products{
    margin-bottom: 100px;
}

.exclusive__products h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.exclusive__product-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.exclusive__products-img{
    width: 100%;
    margin-bottom: 10px;
}

.exclusive__products-group h3{
    text-align: center;
}

.exclusive__products-group p{
    text-align: justify;
    margin-bottom: 20px;
}

.exclusive__products-group a{
    background-color: var(--fifthColor);
    padding: 5px 10px;
    color: var(--primaryColor);
    border-radius: 5px;
}


/* section testimonys */

.testimonys{
    margin-bottom: 100px;
}

.testimonys h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.testimonys__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.testimonys__group{
    background-color: var(--secondColor);
    padding: 20px;
    border-radius: 20px;
    border-top: 5px solid black;
}


.testimonys__img{
    width: 20%;
    height: 20%;
    border-radius: 50%;

    
}

.testimonys__stars{
    width: 20%;
}

.testimonys__text h3{
    font-size: 20px;
    font-weight: 600;
}

.testimonys__text p{
    text-align: justify;
    font-size: 16px;
}

/* footer */

.footer{
    padding: 50px 0;
    background-color: var(--fifthColor);
}

.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.footer__group ul li a{
    display: inline-block;
    margin-bottom: 20px;
    color: var(--primaryColor);
}

.footer__group ul li a:hover{
    color: var(--fourthColor);
}


